@font-face {
  font-family: 'miet-icons';
  src: url('icons.woff?u7k59h') format('woff');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: 'miet-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mi-facebook:before {
  content: "\e900";
}
.mi-instagram:before {
  content: "\e901";
}
.mi-linkedin:before {
  content: "\e902";
}
.mi-search:before {
  content: "\e903";
}
.mi-special:before {
  content: "\e904";
}
.mi-twitter:before {
  content: "\e905";
}
.mi-user:before {
  content: "\e906";
}
.mi-vk:before {
  content: "\e907";
}
.mi-youtube:before {
  content: "\e908";
}
